node_modules
dist
.npmrc
.DS_Store

# local packages - only use for local development
.localPack

docs/node_modules
docs/dist

.vscode
*.code-workspace

test-results
old-but-working-react-lib
old-but-working-solid-lib
old-core
old-factory

(nivel-generated)